
<app-header></app-header>


<form >
    <h1> System Stock Data </h1>
    <div class="info">
      <input class="fname" type="text" name="name" placeholder="Name">
      <input type="text" name="brand" placeholder="Brand">
      <input type="text" minlength="1" maxlength="20" name="Specification" placeholder="Specification">
      <input type="text" name="sr_number" placeholder="Srial number">
      <input type="text" name="other_device" placeholder="Other device">
      <input type="text" name="quntity" placeholder="Quntity">
    </div>
   
    <a> <button  type="submit" href="/dashboard" >Submit</button></a>
  </form>