
<div class="sidebar">
  <div class="nav-links">
    <a routerLink="/dashboard" routerLinkActive="active">
      <img src="/assets/img/dash.svg" alt="Logo" height="30">
      Dashboard
    </a>
    <a class="button" routerLink="/inventory" routerLinkActive="active"
      ariaCurrentWhenActive="page">
      <img src="/assets/img/inve_new.svg" alt="Logo" height="30">
      Inventory
    </a>
    
    <a  routerLink="/adddata" routerLinkActive="active">
      <img src="/assets/img/add.svg" alt="Logo" height="30">
      Add data
    </a>
    
  </div>
</div>

  